/*予定作成アプリ一覧画面*/
.all{
    text-align: center;
}

.schedules{
    text-align: center;
    padding:10px;
    border-radius:10px;
}

.edit-btn{
   padding-top: 23px;
 
   
}

.delete-btn{
   
    padding-top:23px;
}

.create-btn{
    text-align: center;
    padding-top: 30px;
}
.btn{
    display: flex;
}
/*予定作成アプリ詳細画面*/

.show-page{
    width:100%;
}
.sholayout{
 width: 80%;
  margin: 0 auto;
  max-width: 500px;
}