/*予定作成アプリ一覧画面*/
.all{
    text-align: center;
}

.schedules{
    text-align: center;
    padding:10px;
    margin-left:550px;
}

.edit-btn{
   padding-top: 23px;
   margin-left: 40px;
   
}

.delete-btn{
    padding-left:30px;
    padding-top:23px;
}

.create-btn{
    text-align: center;
}
.schedules{
    display: flex;
}